*.desktop
*.desktop.lock
session*
.backups/
auto-save-list/
.cache/
.dap-breakpoints
eln-cache/
*.bak
.lsp-session-v1
.org-id-locations
tramp
.extensions/
*.el~
lisp/remote-shortcuts.el
lisp/mail.org
.python-environments/
transient/
request/
init.el
elpa